* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif, 'arial';
    line-height: 20px;
    outline: none;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background: #FAFAFA;
    font-weight: 400;
    color: #fff;
}

.content-container {
    width: 1100px;
    margin: auto;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clearall {
    clear: both;
}

.header {
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #E9E7E7;
    box-shadow: 0 0 10px 0 #E0E0E0;
    position: fixed;
    z-index: 9;
    width: 100%;
    top: 0;
}

.header-logo {
    width: 210px;
    height: 26px;
    margin-top: 17px;
}

.header-logo a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/logo.jpg);
    background-size: contain;
}

.header-navigation ul li a {
    color: #990101;
    text-decoration: none;
    text-transform: capitalize;
}

.header-navigation ul li a:hover {
    color: #3D464D;
}

.header-navigation {
    margin-top: 18px;
}

.header-search {
    margin-top: 14px;
    margin-right: 15px;
}

.header-search input {
    height: 30px;
    width: 270px;
    padding: 0 8px;
    border: 1px solid #B1B1B1;
}

.login-container {
    position: absolute;
    top: calc(50% - 35px);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 380px;
    background: #fff;
    padding: 25px 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

h4.login-title {
    height: 36px;
    font-size: 30px;
    font-weight: 400;
    color: #3D464D;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.login-container input {
    width: 100%;
    border: 1px solid #7B8185;
    height: 30px;
    margin-bottom: 15px;
    padding: 0 8px;
}

button.login-button {
    width: calc(100% + 2px);
    border: none;
    margin-top: 10px;
    font-weight: 400;
    height: 34px;
    background: #9A0505;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
}

button.login-button:hover {
    /*background: #BC1919;*/
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    z-index: 9;
    background: #171717;
}

h6.footer-copyrights {
    margin-top: 17px;
    font-size: 13px;
    font-weight: 300;
    text-transform: capitalize;
}

.user-details-container {
    position: relative;
    top: 60px;
    margin-bottom: 70px;
}

ul.user-details-list {
    list-style: none;
    margin-top: 10px;
}

.user-photo-block {
    width: 120px;
    height: 120px;
    border: 5px solid #DDD;
    margin-right: 20px;
    margin-left: 15px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

ul.user-details-list li:nth-child(1n) .user-photo-block {
    background: url(../images/ishan1.jpg) no-repeat;
    background-size: cover;
}

ul.user-details-list li:nth-child(2n) .user-photo-block {
    background: url(../images/shruthi1.jpg) no-repeat;
    background-size: cover;
}

ul.user-details-list li:nth-child(3n) .user-photo-block {
    background: url(../images/sandeep1.jpg) no-repeat;
    background-size: cover;
}

ul.user-details-list li:nth-child(4n) .user-photo-block {
    background: url(../images/ratish1.jpg) no-repeat;
    background-size: cover;
}

.user-details-block {
    position: relative;
    width: calc(100% - 160px);
    top: 50%;
    transform: translateY(-50%);
}

.user-photo-block img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background: url(../images/profile3.png);
    border: 4px solid #FFF;
    background-size: inherit;
}

.user-details-row {
    margin: 5px 0;
    color: #3D464D;
}

.user-details-row h6.user-details-title {
    font-size: 14px;
    font-weight: 600;
    width: 100px;
    margin-right: 15px;
    text-align: right;
}

.user-details-row p.user-details-desc {
    font-size: 14px;
    overflow: hidden;
    width: calc(100% - 120px);
    max-height: 40px;
}

ul.user-details-list li {
    height: 190px;
    border-bottom: 2px solid #EDEDED;
    margin: 10px 11px 0px 11px;
    box-sizing: content-box;
    position: relative;
    background: #fff;
    width: calc(50% - 30px);
    float: left;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.13);
}

button.header-add-emp {
    margin-top: 14px;
    border: none;
    padding: 5px 15px 5px 35px;
    font-size: 13px;
    margin-right: 15px;
    color: #fff;
    font-weight: 700;
    background: url(../images/add-user.png) no-repeat #A20101;
    background-size: 15px 15px;
    background-position: 10px 7px;
}

.add-employee-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #FFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: #3D464D;
    padding: 16px 70px 16px 50px;
}

h5.add-employee-form-title {
    height: 38px;
    margin: 6px 0 18px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    /* border-bottom: 1px solid #F3F3F3; */
}

span.add-employee-row-title {
    width: 110px;
    margin-top: 5px;
    text-align: right;
    margin-right: 40px;
}

.add-employee-form-row {
    margin: 12px 0;
    position: relative;
}

input.add-employee-row-input {
    height: 30px;
    width: 250px;
    padding: 0 8px;
}

.add-employee-form-row input[type="file"] {
    padding: 5px 0;
}

h5.add-employee-form-title:after {
    content: '';
    width: calc(100% + 120px);
    position: absolute;
    border-bottom: 1px solid #F0F0F0;
    left: -50px;
    bottom: 0;
}

.add-employee-form-row button {
    padding: 4px 16px;
    background: #D3D3D3;
    border: none;
    margin-left: 15px;
    color: #fff;
    border-radius: 14px;
    margin-top: 20px;
    cursor: pointer;
}

.add-employee-form-row button:hover {
    background: #ccc;
}

button.add-employee-add-button {
    background: #9D0808;
}

button.add-employee-add-button:hover {
    background: #890808;
}

.ng-invalid-pattern {
    border: 1px solid #f00;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(-50%) translateX(0) translateY(-50%);
        transform: translateX(-50%) translateX(0) translateY(-50%);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-50%) translateX(-10px) translateY(-50%);
        transform: translateX(-50%) translateX(-10px) translateY(-50%);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(-50%) translateX(10px) translateY(-50%);
        transform: translateX(-50%) translateX(10px) translateY(-50%);
    }
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(-50%) translateX(0) translateY(-50%);
        transform: translateX(-50%) translateX(0) translateY(-50%);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-50%) translateX(-10px) translateY(-50%);
        transform: translateX(-50%) translateX(-10px) translateY(-50%);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(-50%) translateX(10px) translateY(-50%);
        transform: translateX(-50%) translateX(10px) translateY(-50%);
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}

h5.invalid-login {
    position: fixed;
    bottom: 150px;
    background: rgba(163, 163, 163, 0.7);
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    padding: 13px 200px;
    border-radius: 30px;
    transition: all 0.55s ease-in;
}

h5.invalid-login span {
    font-weight: 400;
    font-size: 18px;
}

.invalid-login__show {
    opacity: 1 !important;
}

.user-details-list__edit-button {
    position: absolute;
    top: 4px;
    right: 10px;
    background: none;
    border: none;
    color: #CBCBCB;
    font-size: 13px;
    text-transform: lowercase;
    letter-spacing: 0.5px;
    transform: scale(0);
    cursor: pointer;
    z-index: 9;
    transition: all 0.3s;
}

.user-details-list li:hover .user-details-list__edit-button {
    transform: scale(1);
}

button.header-logout {
    border: none;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    padding: 5px 15px 5px 35px;
    margin-top: 14px;
    font-size: 13px;
    background: url(../images/logout.png) no-repeat #A20101;
    background-position: 10px center;
    background-size: 16px 16px;
    margin-right: 25px;
    position: relative;
    cursor: pointer;
}

button.header-logout span {
    position: relative;
    top: -1px;
}

.user-details-popup__wrapper {
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 55px;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 9;
}

.user-details-popup {
    position: absolute;
    width: 1000px;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1.6);
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease-in;
}

.user-details-popup__show {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
}

.user-details-popup__photo-container {
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: url(../images/ishan1.jpg) no-repeat;
    background-size: contain;
    margin: 10px;
    border: 1px solid #E5E5E5;
    background-position: center center;
}

button.user-details-popup__close {
    position: absolute;
    right: 0px;
    top: 0px;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 15px;
    font-size: 30px;
    font-weight: 700;
    z-index: 99;
    cursor: pointer;
}

.user-details-popup__resume-container {
    position: relative;
    height: 100%;
}

.user-photo-block-overlay {
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    background-position: center center;
    height: 100%;
    border-radius: 50%;
    transition: all 0.15s ease-in;
}

.user-photo-block:hover .user-photo-block-overlay {
    background: url(../images/view.png) no-repeat rgba(0, 0, 0, 0.4);
    background-position: center center;
}
button.user-details-list__resume-button {
    background: none;
    border: none;
    color: #A20101;
    font-weight: 700;
    position: absolute;
    font-size: 13px;
    bottom: 5px;
    right: 20px;
    cursor: pointer;
    text-decoration: underline;
}
