<!DOCTYPE html>
<!--
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Add Employee</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
-->
	<div class="main-wrapper">

		<div class="header">
			<div class="content-container">

				<div class="header-logo fleft">
					<a href=""></a>
				</div>

				<div class="header-navigation fright">
					<ul>
						<li>
							<!--<a href="">Request login</a>-->
						</li>
					</ul>
				</div>

				<div class="clearall"></div>
			</div>
		</div>

		<div class="add-employee-form">
			<h5 class="add-employee-form-title">
				Add Employee
			</h5>
			<div class="add-employee-form-row">
				<span class="add-employee-row-title fleft">Name :</span>
				<input type="text" ng-model="forms.service.name"
				  class="add-employee-row-input fleft"
				  placeholder="Employee name"
				  ng-pattern="/^[A-Za-z0-9_][A-Za-z0-9_ ]*$/">
				<div class="clearall"></div>
			</div>
			<div class="add-employee-form-row">
				<span class="add-employee-row-title fleft">Designation :</span>
				<input type="text" ng-model="forms.service.designation"
				  class="add-employee-row-input fleft"
				  placeholder="Employee Designation"
				  ng-pattern="/^[A-Za-z0-9_][A-Za-z0-9_ ]*$/">
				<div class="clearall"></div>
			</div>
			<div class="add-employee-form-row">
				<span class="add-employee-row-title fleft">Experience :</span>
				<input type="text" ng-model="forms.service.exprience"
				  class="add-employee-row-input fleft"
				  placeholder="Employee experience"
				  ng-pattern="/^[0-9_]*$/">
				<div class="clearall"></div>
			</div>
			<div class="add-employee-form-row">
				<span class="add-employee-row-title fleft">Expert in :</span>
				<input type="text" ng-model="forms.service.expertice"
				  class="add-employee-row-input fleft"
				  placeholder="Area of Expertise">
				<div class="clearall"></div>
			</div>
			<div class="add-employee-form-row">
				<span class="add-employee-row-title fleft">Upload photo :</span>
<!--
				<input type="file" ng-model="forms.service.photo"
				  class="add-employee-row-input fleft"
				  placeholder="Area of Expertise">
-->

<!--
				  <form id="uploadForm"
                      enctype="multipart/form-data"
                      no-validation>
-->
                  <input type="text"
                      ng-model="forms.userPhoto"
                      ng-init="forms.userPhoto='ds'"
                      ng-change="forms.upload('dsds')"/>
<!--                  <input type="submit" value="Upload Image" name="submit">-->
<!--                </form>-->

				<div class="clearall"></div>
			</div>
			<div class="add-employee-form-row">
				<button class="add-employee-add-button fright">Add</button>
				<button class="add-employee-cancel-button fright">Cancel</button>
			</div>
		</div>

		<div class="footer">

			<div class="content-container">
				<h6 class="footer-copyrights fright">2015 &copy; all rights reserved razorthink</h6>
			</div>

		</div>
	</div>
<!--
</body>

</html>-->
