	<div class="main-wrapper">

		<div class="header">
			<div class="content-container">

				<div class="header-logo fleft">
					<a href=""></a>
				</div>

				<div class="header-navigation fright">
					<ul>
						<li>
							<!--<a href="">Request login</a>-->
						</li>
					</ul>
				</div>

				<div class="clearall"></div>
			</div>
		</div>

		<div class="add-employee-form">
			<h5 class="add-employee-form-title">
				Add Employee
			</h5>
			<div class="add-employee-form-row">
				<span class="add-employee-row-title fleft">Name :</span>
				<input type="text" ng-model="forms.service.formData.name"
				  class="add-employee-row-input fleft"
				  placeholder="Employee name"
				  ng-pattern="/^[A-Za-z0-9_][A-Za-z0-9_ ]*$/"
				  required="true">
				<div class="clearall"></div>
			</div>
			<div class="add-employee-form-row">
				<span class="add-employee-row-title fleft">Email :</span>
				<input type="email" ng-model="forms.service.formData.email"
				  class="add-employee-row-input fleft"
				  placeholder="abcd@abc.com"
				  required="true">
				<div class="clearall"></div>
			</div>
			<div class="add-employee-form-row">
				<span class="add-employee-row-title fleft">Designation :</span>
				<input type="text" ng-model="forms.service.formData.designation"
				  class="add-employee-row-input fleft"
				  placeholder="Employee Designation"
				  ng-pattern="/^[A-Za-z0-9_][A-Za-z0-9_ ]*$/"
				  required="true">
				<div class="clearall"></div>
			</div>
			<div class="add-employee-form-row">
				<span class="add-employee-row-title fleft">Experience :</span>
				<input type="number" ng-model="forms.service.formData.exprience"
				  class="add-employee-row-input fleft"
				  placeholder="Employee experience"
				   required="true">
				<div class="clearall"></div>
			</div>
			<div class="add-employee-form-row">
				<span class="add-employee-row-title fleft">Expert in :</span>
				<input type="text" ng-model="forms.service.formData.expertice"
				  class="add-employee-row-input fleft"
				  placeholder="Area of Expertise"
				  required="true">
				<div class="clearall"></div>
			</div>
			<div class="add-employee-form-row">
				<span class="add-employee-row-title fleft">Projects :</span>
				<input type="text" ng-model="forms.service.formData.project"
				  class="add-employee-row-input fleft"
				  placeholder="Area of Expertise"
				  required="true">
				<div class="clearall"></div>
			</div>
			<div class="add-employee-form-row">
				<span class="add-employee-row-title fleft">Reporting to :</span>
				<input type="text" ng-model="forms.service.formData.reportingTo"
				  class="add-employee-row-input fleft"
				  placeholder="Name"
				  required="true">
				<div class="clearall"></div>
			</div>
			<div class="add-employee-form-row">
				<span class="add-employee-row-title fleft">Upload resume :</span>

                  <input type="file"
                    name = "resume"
                    accept="application/pdf"
                    ng-file-select
                    ng-file-change = "forms.uploadResume()"
                    ng-model="forms.resume"/>

				<div class="clearall"></div>
			</div>
			<div class="add-employee-form-row">
				<span class="add-employee-row-title fleft">Upload photo :</span>

                  <input type="file"
                    name = "avatar"
                    accept="image/*"
                    ng-file-select
                    ng-file-change = "forms.upload()"
                    ng-model="forms.avatar"/>

				<div class="clearall"></div>
			</div>
			<div class="add-employee-form-row">
				<button class="add-employee-add-button fright" ng-click="forms.addDetails()">Add</button>
				<button class="add-employee-cancel-button fright" ui-sref="employees">Cancel</button>
			</div>
		</div>

		<div class="footer">

			<div class="content-container">
				<h6 class="footer-copyrights fright">2015 &copy; all rights reserved razorthink</h6>
			</div>

		</div>
	</div>
