<div class="login-container"
    ng-class="{'animated shake': Login.invalidCred}">
	<h4 class="login-title">login</h4>
	<input type="emial" ng-model="Login.credentials.username" placeholder="Enter your Email">
	<br>
	<input type="password" ng-model="Login.credentials.password" placeholder="Enter your Password">
	<button class="login-button" ng-click="Login.submit()">login</button>
</div>

<h5 class="invalid-login" ng-class="{'invalid-login__show': Login.invalidCred}">
    <span>Invalid credentials.!!</span>
</h5>
